<mat-toolbar color="primary">
    <span>BookHaven</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/books">Books</button>
    <button mat-button routerLink="/borrowings">Borrowings</button>
    <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/login">Login</button>
    <button mat-button *ngIf="!authService.isLoggedIn()" routerLink="/register">Register</button>
    <button mat-button *ngIf="authService.isLoggedIn()" (click)="logout()">Logout</button>
  </mat-toolbar>